/*
IDn som används för sidoselektion via css:  
    page_index
    page_eliten
    page_historia
    page_form
    page_ligor
    page_lander
    page_spelare
    page_argentina
    page_ronaldo
    (page_test)
*/

:root {
	/*Name-definierade egna färger via root. BASE används för att visa att färgen inte är som de andra. Används för att få konsistent användning utav utvalda färger. */
	--BASE_LIGHT_BLUE: #f5f7ff;
	--BASE_BLUE: #506ba5;
	--BASE_DARK_BLUE: #4c4c9d;
	--BASE_PURPLE: #976391;
	--BASE_DARK_PURPLE: #712f79;
	--BASE_GOLDEN_PEACH: #f7996e;
	--BASE_BACKGROUND: rgb(246, 249, 255);
	--BASE_BORDER: rgb(168, 168, 168);
}

.FONT-bungee-spice {
	font-family: "Bungee Spice", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.FONT-titillium-web,
* {
	/* '*' Sätter en standardfont. För att använda bungee-spice måste den prioriteras. Backup: sans-serif.  */
	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*Definierade em- fontstorlekar för h1->p. Lätt att ändra och precist. */
h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

h3,
p {
	font-size: 1em;
}

body {
	height: 99.42vh;
}

body {
	background-color: var(--BASE_BACKGROUND);
	padding: 0;
	margin: 0;
	color: var(--BASE_BLUE);
	display: grid;
	grid-template-rows: 100px 1fr 100px;
}

nav, /*Tar upp hela sin allokerade höjd, lite padding så det ser bättre ut*/
footer {
	height: 100%;
	padding: 3px;
}

/*HEADERN FÖR ALLA SIDOR*/
header {
	border-top: none;
	margin-left: 10px;
	margin-right: 10px;
	background: var(--BASE_LIGHT_BLUE);
	border-radius: 0 0 22px 22px;
	display: grid;
	grid-template-columns: 1fr 1fr 10fr;
	grid-template-areas: ". . . pos_nav";
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

header > #logo {
	margin-left: 3vw;
	width: 20vw;
	height: 10vh;
	filter: grayscale(0.2);
}

header > h1 {
	font-size: 2em;
}

header > nav {
	justify-content: right;
}

header > nav > ul {
	grid-area: pos_nav;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 1fr;
}

header > nav > ul > li {
	font-size: 1.4em;
	border: 1px solid rgb(230, 230, 230);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 4px;
	list-style-type: none;
	background: var(--BASE_BACKGROUND);
	padding: 0.5vh;
	height: fit-content;
	text-align: center; /*Horizontellt centrerar texten*/
}

header > nav > ul > li > a {
	line-height: 3vw; /*Line-height på samma höjd som höjden av dess container centrerar. */
	text-decoration: none;
	color: var(--BASE_BLUE);
}

/*HEADER*/

/*FOOTERN FÖR ALLA SIDOR    h3 p ul*/
footer {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	color: black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "copyright links";
	background: var(--BASE_LIGHT_BLUE);
}

footer > h3 {
	grid-area: copyright;
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
}

@media (min-width: 768px) {
	/*Kollapsar footerns innehåll och trycker ihop det på ett snyggt sätt*/
	footer > h3 {
		text-align: left;
		margin-left: 0;
		margin-left: 40px;
	}
	footer {
		grid-template-columns: 3fr 1fr;
		grid-template-areas: "copyright links" ". .";
	}
}

footer > ul {
	grid-area: links;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

footer > ul > li {
	list-style-type: none;
}

footer li {
	width: 3em;
	height: 3em;
	border-radius: 100%;
	background: transparent;
	box-shadow: rgba(50, 50, 50, 0.5) 4px 4px 13px;
}

footer li:hover {
	box-shadow: rgba(50, 50, 50, 0.7) 1px 3px 2px;
	transform: scale(1.1);
	transition: 0.5s;
}
/*FOOTER*/

/*Enkel Allokering utav utrymme för innehåll*/
#ContentContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	width: 200px;
	height: 100px;
	margin: 0;
	padding: 0;
	background: radial-gradient(white, rgb(150, 208, 255));
}
