.FONT-bungee-spice {
	font-family: "Bungee Spice", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.FONT-titillium-web,
body {
	/* '*' Sätter en standardfont. För att använda bungee-spice måste den prioriteras. Backup: sans-serif.  */
	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	font-style: normal;
}


body {
	background-color: rgb(228, 232, 233);
	height: 100vh;
	padding: 0;
	margin: 0;
	color: #506ba5;
	display: grid;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1 a{
	text-decoration: none;
	color: #506ba5;

}


/*HEADERN FÖR ALLA SIDOR*/
header {
	display: grid;
	background: #f9f9f9;
	box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-ms-border-radius: 0 0 15px 15px;
	-o-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

header ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: center;
	margin: 0;
	padding: 0;
	column-gap: 10vw;
}

header h1 {
	border-bottom: 1px solid #506ba5;
	width: fit-content;
	font-size: 3em;
	line-height: 1em;
	padding: 2px;
	font-weight: bold;
	text-align: right;
	color: #506ba5;
}


header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 20px;
}

header nav li {
	width: 5em;
	height: 3em;
	line-height: 3em;
	border: 1px solid rgb(210,220,220);
	border-bottom: 0;
	font-size: 1.6em;
	list-style-type: none;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

header nav li:hover { /*Header-länkarna får en blå högersida som smyger fram över 1 sek. */
	box-shadow: 3px 0;
	transition-duration: 1s;
}

@media (max-width: 800px) {
	header nav li {
		width: 4em;
		height: 2.5em;
	}
	header nav ul {
		gap: 10px;
	}
}



header nav li a { /*Ändrar färg & tar bort underline för länkarna*/
	text-decoration: none;
	color: #506ba5;
}

/*HEADER*/

/*FOOTERN FÖR ALLA SIDOR   */
footer {
	box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
	color: black;
	display: grid;
	grid-template-areas: ". copyright social .";
	grid-template-columns: 40px auto auto 40px;
	width: 100vw;
	background: #f9f9f9;
	padding: 2px;
}

footer h3 { /*"FIFA 2024 - texten, 1.8em storlek i copyright-arean, BOLD (tjock text) och åt vänster*/
	grid-area: copyright;
	font-size: 1.8em;
	font-weight: bold;
	text-align: left;
}

footer > ul {
	grid-area: social;
	justify-content: right;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}


footer li { /*Social-knapparna : höjd och bredd 3 em, helt runda*/
	width: 3em;
	height: 3em;
	border-radius: 100%;
	list-style-type: none; /*Knapparna är i en ul, tar bort prickarna.*/
	margin: 1vw;/*Mellanrumn så att de inte är så nära varandra*/
}

footer li:hover {
	/*Närdehovraspå: skugga,större&allt under 1/2 sekund*/
	box-shadow: rgba(50, 50, 50, 0.7) 1px 3px 2px;
	transform: scale(1.1);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
/*FOOTER*/

/*Enkel Allokering utav utrymme för innehåll*/
#ContentContainer {
	width: 100vw;
	margin-top: 30px;
	margin-bottom: 30px;
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {/*En sektion,"mini-innehållare"*/
	padding: 10px;
	width: 500px;
	height: 800px;
	background-color: #f9f9f9;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.img_split { /*En sektion, "mini-innehållare" med 50% för bild.  */
	display: grid;
	grid-template-rows: 2fr 3fr;
}

.side_split { /*För sektioner, delad 50% på mitten.   */
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.top_img_split { /*För sektioner, delar upp vertikalt 1:4 för topp-bilder på sektionen*/
	display: grid;
	grid-template-rows: 1fr 4fr;
}

.wide_section {
	width: 80%;
}

section img {
	box-shadow: 0px 5px 5px rgb(165, 165, 165);
	margin: 1%;
	width: 98%;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	filter:contrast(1.06) brightness(1.06);
	-webkit-filter:contrast(1.06) brightness(1.06);
}
